:root {
  --mainColor: #2ac3ed;
  --secondary: #50596d;
}
/***********************************************************/
.App {
  text-align: center;
}

/***********************************************************/

.bot {
  width: 100%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  color: black;
  justify-content: center;
  text-align: center;
}
.bot h1 {
  display: block;
  width: 100%;
  margin: 20px auto;
  color: var(--mainColor);
}
.delete-card {
  color: yellow;
  font-size: 30px;
}
.title-icon {
  display: flex;
  gap: 16px;
}
.title-icon span i {
  color: rgb(249, 150, 11);
  font-size: 25px;
}
.bot a {
  text-decoration: none;
}
.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 30px auto;
}
.bot.card {
  width: 12rem;
  height: 21rem;
  margin: 10px;
  text-decoration: none;
  background-color: #383f4f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid white;
  padding: 0;
}

.bot .card-img-top {
  width: 90%;
  margin-top: 0;
}
.bot .card .catchphrase {
}

.card-body {
  margin: 0px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}
.card-title {
  color: var(--mainColor);
}
.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: white;
}
.icons span i {
  color: var(--mainColor);
  font-size: 16px;
  margin: 0 5px;
}

/***********************************************************/

/***********************************************************/
.bot-army-test {
  width: 100%;
  background-color: var(--secondary);
  border: 2px solid white;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 30px;
  overflow: hidden;
}
/***********************************************************/

.bot-specs {
  text-align: center;
}

.bot-specs img {
  margin-top: 50px;
  width: 250px;
  height: 18rem;
  border-radius: 50%;
  border: 2px solid var(--secondary);
}
.bot-spec-content {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.bot-specs .bot.card {
  width: 350px;
  height: 21rem;
  margin: 10px;
  text-decoration: none;
  background-color: #383f4f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  box-shadow: 0px 0px 10px 3px #08080a;
  padding: 0;
  position: relative;
  border-radius: 20px;
}

.bot-specs .icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  border: 2px solid var(--secondary);
  color: white;
  height: 5ch;
  position: absolute;
  width: 100%;
  bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bot-specs .icons span i {
  color: var(--mainColor);
  font-size: 16px;
  margin: 0 5px;
}

.bot-specs .btn {
  display: flex;
  flex-direction: column;
}
.bot-specs button {
  background-color: var(--mainColor);
}

.bot-specs .card-body .class-catch-pharase {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
}

.bot-specs .card-body .class-catch-pharase .catch-phrase {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.bot-specs .card-body .class-catch-pharase .catch-phrase h6 {
  text-decoration: underline;
  color: #c1c3c8;
  font-size: 20px;
}
.bot-specs .card-body .class-catch-pharase .catch-phrase p {
  color: #c1c3c8;
}

.bot-specs .card-body .class-catch-pharase .bot-class {
  display: flex;
  gap: 20px;
}
.bot-specs .card-body .class-catch-pharase .bot-class {
  color: #c1c3c8;
  font-size: 18px;
}
.bot-specs .card-body .class-catch-pharase .bot-icon {
  color: var(--mainColor);
}

/******************************************************/
.bot-army {
  width: 100%;
  background-color: var(--secondary);
  display: flex;

  flex-wrap: wrap;
  gap: 16px;
  border: 2px solid white;
  border-radius: 10px;
}
.bot-army .card {
  width: 200px;
  height: 21rem;
  margin: 10px;
  text-decoration: none;
  background-color: #383f4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid white;
  padding: 0;
  position: relative;
  align-items: center;
  color: #9da2ab;
}

.bot-army .card img {
  width: 100px;
  text-align: center;
}

.bot-army h1 {
  display: block;
  width: 100%;
  margin: 20px auto;
  color: var(--mainColor);
}
.catch-phrase h6 {
  text-decoration: underline;
  color: #c3c5ca;
  display: flex;
}

.bot-class span {
  display: flex;
  font-size: 18px;
  color: #c3c5ca;
}
.bot-class span #class {
  color: var(--mainColor);
  margin-left: 10px;
}
#remove-from-army {
  color: var(--mainColor);
  font-weight: bolder;
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/******************************************************/
#sort-bar {
  width: 200px;
  height: 30px;
  color: var(--mainColor);
  background-color: var(--secondary);
}

/*******************************************************/
form {
  display: flex;
  justify-content: center;
  gap: 20px;
}
form button {
  height: 50px;
  border: 2px solid #82868f;
  border-radius: 20px;
  background-color: transparent;
  width: 100px;
  padding: 0;
  font-size: 20px;
  color: white;
}
.checkboxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #383f4f;
  width: 250px;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}
.checkboxes .label-checkbox {
  width: 100px;
  margin: 5px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.checkboxes input,
label {
  color: var(--mainColor);
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
}
