:root {
  --mainColor: #61dafb;
  --secondary: #50596d;
}
/***********************************************************/
.App {
  text-align: center;
}

/***********************************************************/

.bot {
  width: 100%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  color: black;
  justify-content: center;
  text-align: center;
}
.bot h1 {
  display: block;
  width: 100%;
  margin: 20px auto;
  color: var(--mainColor);
}

.bot li {
  text-decoration: none;
}
.bot.card {
  width: 12rem;
  height: 21rem;
  margin: 10px;
  text-decoration: none;
  background-color: #383f4f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid white;
  padding: 0;
}

.bot .card-img-top {
  width: 90%;
  margin-top: 0;
}
.bot .card .catchphrase {
}

.card-body {
  margin: 0px;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}
.card-title {
  color: var(--mainColor);
}
.icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  color: white;
}
.icons span i {
  color: var(--mainColor);
  font-size: 16px;
  margin: 0 5px;
}

/***********************************************************/

/***********************************************************/
.bot-army-test {
  width: 100%;
  background-color: var(--secondary);
  border: 2px solid white;
  border-radius: 10px;
  height: 200px;
  margin-bottom: 30px;
  overflow: hidden;
}
/***********************************************************/

.bot-specs {
  text-align: center;
}
.bot-specs .bot.card {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  color: black;
  justify-content: center;
  text-align: center;
}
.bot-specs img {
  margin-top: 50px;
  width: 250px;
  height: 18rem;
  border-radius: 50%;
  border: 2px solid var(--secondary);
}
.bot-spec-content {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}

.bot-specs .bot.card {
  width: 350px;
  height: 21rem;
  margin: 10px;
  text-decoration: none;
  background-color: #383f4f;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid white;
  padding: 0;
  position: relative;
}

.bot-specs .icons {
  display: flex;
  gap: 20px;
  justify-content: center;
  border: 2px solid var(--secondary);
  color: white;
  height: 5ch;
  position: absolute;
  width: 100%;
  bottom: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.bot-specs .icons span i {
  color: var(--mainColor);
  font-size: 16px;
  margin: 0 5px;
}
/******************************************************/
.bot-army {
  width: 100%;
  background-color: var(--secondary);
  display: flex;

  flex-wrap: wrap;
  gap: 16px;
  border: 2px solid white;
  border-radius: 10px;
}
.bot-army .card {
  width: 200px;
  height: 21rem;
  margin: 10px;
  text-decoration: none;
  background-color: #383f4f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  border: 2px solid white;
  padding: 0;

  align-items: center;
}

.bot-army .card img {
  width: 100px;
  text-align: center;
}

.bot-army h1 {
  display: block;
  width: 100%;
  margin: 20px auto;
  color: var(--mainColor);
}
